@charset "utf-8";
#box_root{
   text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#box_header{
   width: 100%;
}
#box_header_top{
   padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    clear: both;
    padding-top: 0px;
}
#box_header_top .columnSpace{
   padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
#box_logo{
   margin-top: 0px;
    float: left;
}
#box_seach{
   width: 74%;
    float: right;
}
#box_column{
   width: 100%;
    clear: both;
    overflow: hidden;
}
#box_banner{
   width: 100%;
    float: none;
    clear: both;
}
#box_main{
   margin-top: 0px;
    width: 100%;
    margin-left: auto;
    clear: both;
    margin-right: auto;
}
#box_left{
   width: 100%;
}
#box_left .columnSpace{
}
#box_new_list{
   width: 19%;
    float: left;
}
#adv_picture{
   margin: 0px 10px;
    width: 51%;
    float: left;
}
#box_new_products{
   width: 27%;
    float: right;
}
#box_productsBrandCategory{
   text-align: left;
    width: 70%;
    float: left;
}
#box_Products_ranking{
   width: 27%;
    float: right;
    margin-left: 20px;
}
#box_adBanner{
   clear: both;
}
#box_questionnaire_survey{
   width: 19%;
    float: left;
}
#box_questionnaire_survey #box_ad1{
   width: 100%;
    height: 60px;
}
#box_Products_list{
   margin: 0px 10px;
    width: 51%;
    float: left;
}
#box_news_ranking{
   text-align: left;
    width: 27%;
    float: right;
}
#box_productsBrand_list{
   width: 100%;
    clear: both;
}
#box_adv_text{
   width: 100%;
    clear: both;
}
#box_adv_picture{
   width: 100%;
    clear: both;
}
#box_footer{
   margin: 10px auto;
    width: 100%;
    clear: both;
}
